*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #046db9;
    height: 100vh;
}
.bmıCalc{
    padding: 0;
    border-radius: 10px;
}
.baslik{
    background-color: #00345a;
    color: #fff;
    padding: .5rem 0;
    border-radius: 10px 10px 0 0 ;
}
.content{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
.result{
    padding: 40px 0;
}
.result-box{
    width: 80%;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.value{
    color: rgb(93, 149, 9);
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
}
.category{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.category-text{
    font-size: 30px;
    font-weight: 700;
}
#category-icon{
    font-size: 30px;
    color: green;
}

.inputRadio{
    padding: 2rem 3rem 4rem 3rem;
}
#selectKg{
    width: 75%;
}
#selectBoy{
    width: 75%;
}
#selectKg-text , #selectBoy-text{
    font-size: 20px;
    font-weight: 700;
}
input[type="range"]{
    height: 8px;
    appearance: none;
    background-color: #c0c0c0;
    border-radius: 3px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #0e0e0e;
    border-radius: 50%;
    cursor: pointer;
}